*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Home files
Documents
Downloads
Music
Pictures
Podcasts
Torrents
Videos
VirtualBox VMs
irclogs
log
mbox
scripts

# Backups and such
*old
*new
*hist*
*hst
*cache
*backup
*bak
*log
